/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 10 version
*/

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
:root {
  --bg-color: rgb(29, 29, 29);
  --tiles-color: rgb(49, 49, 49);
  --font-color:rgb(221, 221, 221);
  --nav-border: rgb(102, 102, 102);
  --tile-hover-color: rgb(134, 133, 133);
  --stats-bg-color: rgba(0, 0, 0, 0.877);
}
body {
  background-color: var(--bg-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: hidden;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}
nav {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 60px;
  grid-template-rows: 60px;
  color: var(--font-color);
  font-size: 22px;
  padding: 0px;
  border-bottom: 1px solid var(--nav-border);
  width: 100%;
}
#board {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  margin: 25px;
}
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}
.tile {
  width: 50px;
  height: 50px;
  background-color: var(--tiles-color);
  -webkit-box-shadow: 0px 0px 2px rgb(49, 49, 49);
          box-shadow: 0px 0px 2px rgb(49, 49, 49);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-radius: 3px;
  color: var(--font-color);
  font-size: 25px;
  font-weight: 1000;
}
#keyboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}
.keyboard-button {
  width: 40px;
  height: 50px;
  text-transform: uppercase;
  background-color: var(--tiles-color);
  border: none;
  color: var(--font-color);
  font-size: 20px;
  border-radius: 5px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  -webkit-box-shadow: 0px 0px 2px rgb(49, 49, 49);
          box-shadow: 0px 0px 2px rgb(49, 49, 49);
}
.keyboard-button:hover {
  background-color: var(--tile-hover-color);
}
.first-row , .second-row , .third-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}
.third-row p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modul {
  position: absolute;
  top: 20vh;
  background-color: white;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 3px rgba(255, 255, 255, 0.445);
          box-shadow: 0px 0px 3px rgba(255, 255, 255, 0.445);
  display: none;
  overflow: hidden;
  font-weight: 600;
}


.winanimation div{
  background-color: green;
}
.winanimation div:nth-child(1){
  -webkit-animation: win 0.5s;
          animation: win 0.5s;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
.winanimation div:nth-child(2){
  -webkit-animation: win 0.5s;
          animation: win 0.5s;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.winanimation div:nth-child(3){
  -webkit-animation: win 0.5s;
          animation: win 0.5s;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.winanimation div:nth-child(4){
  -webkit-animation: win 0.5s;
          animation: win 0.5s;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.winanimation div:nth-child(5){
  -webkit-animation: win 0.5s;
          animation: win 0.5s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.tileborder {
  -webkit-box-shadow: 0px 0px 1px 1px var(--font-color) inset;
          box-shadow: 0px 0px 1px 1px var(--font-color) inset;
}
@-webkit-keyframes win {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-55px);
            transform: translateY(-55px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@keyframes win {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-55px);
            transform: translateY(-55px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
#statistics {
  display: none;
  -ms-grid-rows: 1fr 15px 2fr 15px 1fr 15px 50px 15px 50px;
  grid-template-rows: 1fr 2fr 1fr 50px 50px;
  height: 80vh;
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50% , -50%);
      -ms-transform: translate(-50% , -50%);
          transform: translate(-50% , -50%);
  background-color: var(--stats-bg-color);
  color: var(--font-color);
  padding: 15px;
  gap: 15px;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 15px;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  -webkit-animation: modulshow 1.2s;
          animation: modulshow 1.2s;
  z-index: 4;
  -webkit-box-shadow: 0px 0px 3px  var(--font-color);
          box-shadow: 0px 0px 3px  var(--font-color);
}
.afterwin {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  pointer-events: none;
  opacity: 0.8;
}
@-webkit-keyframes modulshow {
  0% {
    -webkit-transform: translate(-50% ,1500px);
            transform: translate(-50% ,1500px);}
  100% {
    -webkit-transform: translate(-50% , -50%);
            transform: translate(-50% , -50%);
  }
}
@keyframes modulshow {
  0% {
    -webkit-transform: translate(-50% ,1500px);
            transform: translate(-50% ,1500px);}
  100% {
    -webkit-transform: translate(-50% , -50%);
            transform: translate(-50% , -50%);
  }
}
.stats{
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  border-bottom: 1px solid var(--font-color);
  width: 100%;
  font-size: 19px;
}
.statsparagraph{
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  border: 1px solid var(--font-color);
  width: 33.333%;
  height: 100px;
}
#winLoseText {
  overflow: hidden;
  border-bottom: 1px solid var(--font-color);
  width: 100%;
  padding: 10px;
  font-size: 22px;
}
#playAgain  {
  overflow: hidden;
  width: 100%;
  height: 30px;
  color: var(--font-color);
  font-weight: 1000;
  font-size: 22px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  border-radius: 5px;
  padding: 15px;
}
#exitStats {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 25px;
  height: 25px;
  font-size: 25px;
  background-color: transparent;
  color: var(--font-color);
  font-weight: 1000;
  border: none;
  cursor: pointer;
}
#exitStats:hover {
  color: var(--nav-border);
}
#playAgain {
  background-color: green;
  padding: 25px;
} 

#playAgain:hover  {
  background-color: var(--bg-color);
  color: var(--font-color);
}
.darkLightMode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}
 .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0);
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  border: 1px solid rgba(128, 128, 128, 0);
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(139, 139, 139);
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #ffffff;
  border: 1px solid rgba(128, 128, 128, 0.137);
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
} 
.fa-solid {
  cursor: pointer;
}